{% extends 'base.html' %}
{% from 'macros.html' import get_title, get_text, count_words %}

{% block base_navbar %}
{{super()}}
{% endblock %}

{% block body %}
    {{ get_title(data, "Battery charger") }}
    <p class="fig"><img src="{{url_for('static', filename='battery_charger.jpg')}}" width="600px" height="650px"></p>
    {{ get_text(data, "Battery charger") }}
    <p>In the above text of words: {{ count_words(data, "Battery charger") }}</p>

{% endblock %}

{% block footer %}
{{super()}}
{% endblock %}
