{% macro get_title(data, text) %}
{% for dct in data %}
    {% if dct["title"] == text %}
    <h1>{{ dct["title"] }}</h1>
    {% endif %}
{% endfor %}
{% endmacro %}

{% macro get_text(data, text) %}
{% for dct in data %}
    {% if dct["title"] == text %}
    <p class="text">{{ dct["text"] }}</p>
    {% endif %}
{% endfor %}
{% endmacro %}

{% macro count_words(data, text) %}
{% for dct in data %}
    {% if dct["title"] == text %}
    {{ dct["text"]|wordcount() }}
    {% endif %}
{% endfor %}
{% endmacro %}